@import "tailwindcss";

:root {
    --color-base-gray: #606061;
    --color-bg: #f7f7f7;
    --color-accent: #d7782e;
    --color-charcoal: #2d2d2d;
    --color-muted-sand: #d9cab3;

    --color-primary: var(--color-accent);
    --color-on-surface: #ffffff;
    --color-on-background: var(--color-base-gray);
}
